<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dske.nkmr.samplegcm">

    <!-- permission so the Android application can send the registration ID to the 3rd party server -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- permission as GCM requires a Google account (necessary only if if the device is running a version lower than Android 4.0.4) -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- permission so the application can keep the processor from sleeping when a message is received -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- permission so the Android application can register and receive messages -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- permission to prevent other Android applications from registering and receiving the Android application's messages -->
    <permission
        android:name="dske.nkmr.samplegcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="dske.nkmr.samplegcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!-- Main Activity -->
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Receiver for com.google.android.c2dm.intent.RECEIVE -->
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="dske.nkmr.samplegcm" />
            </intent-filter>
        </receiver>
        <!-- Intent Service -->
        <service android:name=".GcmIntentService" />

    </application>

</manifest>
